.bgimage {
    width:100%;
    height:500px;
    background: url('./../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
  }

  .hero-message{
      color: #775ba5;
      font-size: 3.5rem;
      padding: 20px;
  }

  .hero-sub-message {
    color: #775ba5;
    font-size: 1.5rem;
    padding: 20px;

  }
.primary-color {
    color: #a972ff;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lead-paragraph{
    font-size: 1.5rem;
    margin-bottom: 90px;
}

.lead-color {
    color: #503d6d;
}

.company-logo{
    width: 50px;
    height: 50px; 
    border: 1px solid #caa6ff;
}

.company-logo-row{
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-text{
    padding-bottom: 25px;
}

.list-items{
    color: #503d6d;
    padding: 0.2rem;
}

.details {
    padding: 25px;
}

.details .logo{
    height: 50px;
    width: 50px;
}

.project-title {
    font-size: 1.3rem;
    margin: 0 30% 0 30%;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.project-content {
    padding-top: 10px;
}

.cards {
    background: rgb(119,91,165);
    background: linear-gradient(0deg, rgba(119,91,165,1) 26%, rgba(109,65,182,1) 70%);
    padding-top: 50px;
    margin-top: -35px;
    color: whitesmoke;
}

.cards-projects {
    background-color: #775ba5;
    padding-top: 50px;
    color: whitesmoke;
}

.card-body {
    margin-bottom: 10px;
    color: black;
}

.card:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.51);
    cursor: pointer;
}

.nav-background{
    background: rgb(119,91,165);
    background: linear-gradient(180deg, rgba(119,91,165,1) 13%, rgba(109,65,182,1) 49%);
}

.nav-background .img-responsive {
    padding-top: 100px;
    margin: 0 auto;
}

.nav-background .img-responsive .logo {
    height: 70px;
    width: 70px;
    margin-bottom: 50px;
}

.foot-note {
    font-size: 0.70rem;
    color: #dfdfdf;
}

.foot-link{
    color: #dfdfdf;
    text-decoration: underline;
}

.foot-link:hover {
    color: #b7b5b5;
}

.footer-content{
    color: white;
}

.links {
    color: white;
    padding: 0 10px 0 10px;
    font-size: 1.3rem;
}

.links:hover{
    color: rgba(187, 185, 185, 0.972);
}

.links-row {
    padding:40px;
}

.title-section {
    font-size: 1.2rem;
    border-right: 1px solid gray;
    display: flex;
    align-items: center;
}

.tech-section {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.dates {
    font-size: 0.9rem;
    color: #585757;
}

.work-description {
    padding-top: 15px;
}
